doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(action="/make-login", method="get") 
            div 
                label(for="username") Username
                input(type="text", name="username")
            div 
                label(for="password") Password
                input(type="text", name="password")
            div
                button(id="loginBtn") Login